html {
    height: 100%;
    background: #0ecde9;
    background: -webkit-radial-gradient(center, ellipse cover, #0ecde9 0%, #025e83 100%);
    background: radial-gradient(#fff, #aaa);

  }

.simon-game {
    position: absolute;
    min-width: 100px;
    min-height: 50px;
    width: 350px;
    height: 350px;
    z-index: 1;
    left: 3%;
    top: 5%;
  }

.colors {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
  }

.button {
  }
  #container-solid{
    background-color: black;
    bborder: 15px solid black;
    width: 500px;
    height: 500px;
    position:relative;
    margin: 0 auto;
    border-top-right-radius: 18em;
    border-top-left-radius: 18em;
    border-bottom-left-radius: 18em;
    border-bottom-right-radius: 18em;
    display: flex;
    flex-direction: center;
    justify-content: center;
    box-shadow: 0px 0px 80px 0px #777777
  }

  #start {
    background-color: black;
    bborder: 15px solid black;
    z-index: 4;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 36%;
    top: 33%;
    color: white;
    text-align: center;
    border-top-right-radius: 7em;
    border-top-left-radius: 7em;
    border-bottom-left-radius: 7em;
    border-bottom-right-radius: 7em;
  }

  .button-color {
    border: 0px solid black;
    width: 100%;
    height: 50%;
  }

  .row {
    width: 100%;
  }

  .colors{
    position: absolute;
    left: 9%;
    top: 9%;
  }

  #red {
    background-color: #fe3e2a;
    border-style: solid;
    border-width: 0px 0px 20px 15px;
    border-top-right-radius: 17em;
    float: inherit;
    margin-left: 30px;
  }

  #blue {
    background-color: #01abf6;
    border-style: solid;
    border-width: 10px 0px 0px 15px;
    border-bottom-right-radius: 17em;
    margin-left: 30px;
    margin-top: 7px;
  }

  #green {
    background-color: #0aba1a;
    border-style: solid;
    border-width: 0px 15px 15px 0px;
    border-top-left-radius: 17em;
    margin-left: 10px;
  }
  #yellow {
    background-color: #ffff01;
    border-style: solid;
    border-width: 15px 15px 0px 0px;
    border-bottom-left-radius: 17em;
    margin-left: 10px;
    margin-top: 7px;
  }
  #gameTitle {
    display: flex;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 60px;

  }

  #roundTitle {
    display: flex;
    flex-direction: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  #startTitle {
    margin-top: 50px;
  }

  body {
  font-family: 'Righteous', cursive;
  font-size: 40px;
  }

  /*Logo*/
  vectro {
    position: relative;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #f1f1f1;
    font-family: 'Righteous', cursive;
    font-size: 160px;
    margin: 150px 0 50px 0;
  }
  .vectro:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*-webkit-animation:vectro_effect 0.067s infinite;*/
    background: repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 2px);
  }
  .windows .vectro {
    -webkit-text-stroke: 4px #f1f1f1;
  }
  .vectro-body {
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(#C3BFB4 0%, #FDFCFA 50%, #E8E7E5 51%, #757172 52%, #E8E9DB 100%);
    -webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
  }
  .vectro-red {
    color: #F10C20;
    -webkit-text-fill-color: #F10C20;
    -webkit-text-stroke: 0;
    -webkit-filter: drop-shadow(2px 2px 15px #F10C20);
    font-style: italic;
    padding-right: 20px;
  }
  .windows .vectro-red {
    padding-right: 30px;
  }
  .vectro-green {
    color: #6BFF2B;
    -webkit-text-fill-color: #6BFF2B;
    -webkit-filter: drop-shadow(2px 2px 15px #6BFF2B);
    -webkit-text-stroke: 0;
    font-style: italic;
    padding-right: 20px;
    margin-left: -20px;
  }
  .windows .vectro-green {
    padding-right: 30px;
    margin-left: -30px;
  }
  .vectro-blue {
    color: #3F59F4;
    -webkit-text-fill-color: #3F59F4;
    -webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
    -webkit-text-stroke: 0;
    font-style: italic;
    padding-right: 20px;
    margin-left: -20px;
  }
  .windows .vectro-blue {
    padding-right: 30px;
    margin-left: -30px;
  }
